body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px; /* Define a largura máxima da página */
    width: 100%;
    padding: 0 20px; /* Adiciona um espaçamento interno para o conteúdo */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-form,
.signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%; /* Definindo a largura de cada formulário */
}

.login-form {
    margin-right: 20px; /* Adicionando uma margem entre os formulários */
}

h2 {
    margin-top: 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input:focus,
button:focus {
    outline: none;
    border-color: #4CAF50;
}
