/* Garante que a página ocupe toda a altura da viewport */
html, body {
  height: 100%; /* Faz com que o corpo ocupe a altura total da tela */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o corpo ocupe a altura total da viewport */
}

main {
  flex: 1; /* Faz o conteúdo principal expandir para ocupar o espaço restante */
}

/* Rodapé fixado no limite inferior da página */
footer {
  background-color: #8605B8;
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid #ffffff;
  overflow: hidden; /* Esconde o overflow para manter apenas uma linha visível */
  width: 100%; /* Faz o rodapé ocupar toda a largura da tela */
  position: relative;
  bottom: 0; /* Garante que ele fique na parte de baixo da tela */
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo-container {
  display: flex;
  gap: 70px;
  animation: scroll-logos 20s linear infinite;
}

.footer-logo-img {
  max-width: 50px;
  height: auto;
}

@keyframes scroll-logos {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
