/* Reset básico para margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o corpo ocupe a altura total da tela */
}

.container {
  flex: 1; /* Faz o conteúdo principal expandir para ocupar o espaço restante */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div-1, .div-3 {
  background-color: #8605B8;
  padding: 20px;
  border-radius: 8px;
  color: white;
  font-family: 'Segoe UI Rounded', 'Arial Rounded MT Bold', sans-serif;
}

.image-grid {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap; /* Permite quebrar em múltiplas linhas */
  justify-content: space-between; /* Distribui o espaço entre os itens */
  gap: 70px; /* Ajuste o espaçamento entre as imagens */
}
  
.image-grid img {
  width: calc(100% / 6 - 20px); /* Define o tamanho de cada imagem */
  max-width: 130px; /* Limita a largura máxima de cada imagem */
}

footer {
  background-color: #8605B8;
  padding: 20px 0;
  color: white;
  border-top: 2px solid #ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto; /* Empurra o rodapé para o final da página */

}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo-container {
  display: flex;
  gap: 70px;
  animation: scroll-logos 20s linear infinite;
}

.footer-logo-img {
  max-width: 50px;
  height: auto;
}

@keyframes scroll-logos {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
