.container_header{
    font-family: Arial, sans-serif;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

.menu {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    padding-top: 30px;
    display: flex ;
    align-items: center;
  }
  

.logo_menu {
    font-weight: bold;
    font-size: 20px;
    max-width: 180px;
  }
  

.nomes_menu {
    margin-right: 1000px;
    width: 80%;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    margin-left: 150px;
  }