/* Garante que a página ocupe toda a altura da viewport */
html, body {
    height: 100%; /* Faz com que o corpo ocupe a altura total da tela */
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe a altura total da viewport */
  }
  
  main {
    flex: 0; /* Faz o conteúdo principal expandir para ocupar o espaço restante */
  }
  
  /* Estilo para o rodapé */
  footer {
    background-color: #8605B8; /* Cor de fundo roxa para o rodapé */
    color: white; /* Cor do texto do rodapé */
    padding: 20px; /* Espaçamento interno do rodapé */
    display: flex; /* Usar flexbox para alinhar os itens */
    justify-content: space-between; /* Espaçar os itens */
    align-items: center; /* Centralizar verticalmente os itens */
    width: 100%; /* Garantir que o rodapé ocupe toda a largura da tela */
    box-sizing: border-box; /* Incluir padding e border no cálculo da largura */
    position: relative; /* Garantir que o rodapé fique no final da página */
    bottom: 0;
  }
  
  .footer-logo img {
    max-width: 50px; /* Tamanho máximo do logo no rodapé */
    height: 50px; /* Manter a proporção da imagem */
  }
  
  .footer-nav ul {
    list-style: none; /* Remover marcadores de lista */
    display: flex; /* Usar flexbox para alinhar os itens do menu */
    justify-content: flex-end; /* Alinhar os itens à direita */
    padding: 0;
    margin: 0;
  }
  
  .footer-nav ul li {
    margin: 0 15px; /* Espaçamento entre os itens do rodapé */
  }
  
  .footer-nav ul li a {
    color: white; /* Cor dos links no rodapé */
    text-decoration: none; /* Remover sublinhado dos links */
    font-family: 'Segoe UI Rounded', 'Arial Rounded MT Bold', sans-serif; /* Fonte moderna e arredondada */
    font-weight: bold; /* Negrito */
  }
  
  .footer-info {
    text-align: center; /* Centralizar o texto das informações adicionais */
    font-size: 14px; /* Tamanho da fonte menor para as informações de copyright */
  }
  
  /* Estilos específicos para dispositivos móveis */
  @media (max-width: 600px) {
    footer {
      flex-direction: column; /* Empilhar os itens do rodapé verticalmente */
      text-align: center; /* Centralizar o conteúdo no rodapé em telas pequenas */
    }
  
    .footer-nav ul {
      flex-direction: column; /* Empilhar os links verticalmente */
      margin-bottom: 20px;
    }
  
    .footer-nav ul li {
      margin: 10px 0; /* Espaçamento entre os links em telas pequenas */
    }
  }
  